// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #ecfcff;
}

.card {
  display: inline-block;
  background-color: #f9ed69;
  padding: 8px 16px;
  margin: 10px 50px;
  border-radius: 4px;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, .2);
}

.card:hover {
  background-color: #f08a5d;
  cursor: pointer;
}

.person {
  font-style: italic;
}

.message {
  font-weight: bold;
}

form {
  text-align: center;
  margin-top: 50px;
}

.btn-ask {
  display: table;
  margin: 50px auto;
  background-color: #3e64ff;
  padding: 20px;
  border-radius: 8px;
}

.btn-ask:hover {
  background-color: #293a80;
}

.btn-ask a{
  color: white;
  text-decoration: none;
}
