// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form {
  text-align: center;
  margin-top: 50px;
}

.btn-ask {
  display: table;
  margin: 50px auto;
  background-color: #3e64ff;
  padding: 20px;
  border-radius: 8px;
}

.btn-ask:hover {
  background-color: #293a80;
}

.btn-ask a{
  color: white;
  text-decoration: none;
}

 /* Chat containers */
.card {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.sender {
  border-color: #ccc;
  background-color: #ddd;
  text-align: right;
}

/* Clear floats */
.card::after {
  content: "";
  clear: both;
  display: table;
}
